h1 {font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;}
h2 {font-family: 'Poppins', sans-serif;
text-align: center;
color: white;
letter-spacing: 2px;}
h3 {font-family: 'Poppins', sans-serif;}
p {font-family: 'Poppins', sans-serif;}

a {
    text-decoration: none;
    padding: 8px;
    background-color: rgb(255, 106, 176);
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

/* Navigation Bar */

.nav {
    display: flex;

}
.name {
    width: 60%;
    padding-left: 20px;
}

.work {
    width: 10%;
    padding-top: 15px;
}

.contact {
    width: 10%;
    padding-top: 15px;
}

.about {
    width: 10%;
    padding-top: 15px;
}
.title {
    background-color: rgb(0,96,138);
    padding: 1%;
}

.subcontent {
    background-color: rgb(0,147,189);
    display: flex;
    padding: 0;
}

.steps {
    background-color: white;
    margin: 4%;
    padding: 2%;
   
}
.maincontent {
    margin: 40px;
    display: flex;
}
.meimage {
   background-image: url("../images/me_small.jpg");
    width: 300px;
    height: 350px;
    background-repeat: no-repeat;
}
.textcontent {
    padding: 25px;
    padding-left: 50px;
    max-width: 550px;
}

.cta {
    text-align: center;
}

button {
    text-align: center;

}

.grid {
    
    align-items: center;
    justify-items: center;
    font-family: 'Poppins', sans-serif;
    height: 200px;
  }
  .hoverMe {
    align-items: center;
    background-color: rgb(255, 106, 176);
    color: white;
    width: 150px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    height: 50px;


    /* Add the css property transition here! */
    transition: all .3s ease;
  }
  /* active state */
  .hoverMe:hover {
    /* Add your hover state css here. */
    background-color: rgb(255), 37, 133);

  }